@model Examen1.Models.Hotel

@{
    Layout = "_Layout";
}

<div>
    <h2>Hôtel trouvé : </h2>

</div>
<div>
    @Model.NoEnregistrement @Model.Nom <br />
    Dans la ville de @Model.Ville <br />
</div>
